@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text">Error.</h1>
<h2 class="text">An error occurred while processing your request.</h2>
<h2 class="text">Please try again later!</h2>


